MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/cost_manager?retryWrites=true&w=majority
TEAM_MEMBER_1_FIRST=Linoy
TEAM_MEMBER_1_LAST=Ezra
TEAM_MEMBER_2_FIRST=Dudu
TEAM_MEMBER_2_LAST=Dorani
